<div class="flex justify-between h-46 border-b px-20 mb-4 py-4 shadow-sm transition-all">
  <a [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
  <a [routerLink]="['/about']" routerLinkActive="active-link">About</a>
  <a [routerLink]="['/contact/08143274300']" routerLinkActive="active-link">Contact</a>
  <a [routerLink]="['/customers']" routerLinkActive="active-link">Customert</a>
  <a [routerLink]="['/orders']" routerLinkActive="active-link">Order</a>
  <a [routerLink]="['/shops']" routerLinkActive="active-link">Shop</a>
  <a [routerLink]="['/customers/detail']" routerLinkActive="active-link">Customert Detail</a>
  <a [routerLink]="['/orders/detail']" routerLinkActive="active-link">Order Detail</a>
  <a [routerLink]="['/shops/detail']" routerLinkActive="active-link">Shop Detail</a>
</div>
